<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Clostech\Integration\Api\ProductListInterface"
                type="Clostech\Integration\Model\ProductList"/>
    <preference for="Clostech\Integration\Api\Data\ProductInterface"
                type="Clostech\Integration\Model\Data\Product"/>
    <preference for="Clostech\Integration\Api\Data\VariantInterface"
                type="Clostech\Integration\Model\Data\Variant"/>
</config>