<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <!--ACÁ REGISTRAMOS LOS OBSERVERS (escuchan eventos en Magento)-->
    <event name="sales_order_place_after">
        <observer name="clostech_order_tracking" instance="Clostech\Integration\Observer\OrderPlaceAfter" />
    </event>
</config>